<div class="banner" style="background-image: url(<%= @flat.picture_url %>);"></div>
<div class="container">
  <div class="margin-top-negative" style="margin-top: -75px;">
    <div class="row">
      <div class="col-xs-8">
        <div class="flat-show-card">
          <h2><%= @flat.name %></h2>
          <p><%= @flat.address %></p>
          <%= link_to 'Edit the information', edit_flat_path(@flat), class: 'orange' %>
        </div>
        <div class="flat-show-card">
          <h3>A bit more about this flat...</h3>
          <p><%= @flat.description %></p>
          <div id="map">
            <img src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:F%740.<%= @flat.latitude %>,<%= @flat.longitude %>&key=AIzaSyCyHbIF8IO22iPcD2v6pM-qushGYYpOopY" alt="">
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="flat-show-card">
          <h5>Book this place !</h5>
          <form action="" class="book-form">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">From:</span>
              <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mt-2">
              <span class="input-group-addon" id="basic-addon1">To:</span>
              <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <input type="submit" value="Book" class="btn-blue large-btn">
          </form>
        </div>
        <div class="flat-show-card">
          <h3>Details</h3>
          <div class="flex">
            <div class="flex people">
              <i class="fa fa-users card-icon" aria-hidden="true"></i>
              <span><%= @flat.number_of_guests %></span>
            </div>
            <div class="flex price">
              <i class="fa fa-eur card-icon" aria-hidden="true"></i>
              <span><%= @flat.price_per_night %></span>
            </div>
          </div>
        </div>
        <div class="flat-show-card">
          <div class="flex" style="justify-content: space-between;">
            <p>share</p>
            <div class="flex-align">
              <i class="fa fa-facebook-official" aria-hidden="true" style="margin: 0 5px; font-size: 20px;"></i>
              <i class="fa fa-twitter-square" aria-hidden="true" style="margin: 0 5px; font-size: 20px;"></i>
              <i class="fa fa-pinterest-square" aria-hidden="true" style="margin: 0 5px; font-size: 20px;"></i>
              <i class="fa fa-envelope" aria-hidden="true" style="margin: 0 5px; font-size: 20px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
  const coord = <%= raw @flat_coordinates.to_json %>;
  alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>

  <%= javascript_tag do %>
    function initMap() {
      var myLatLng = {lat: <%= @flat.latitude %>, lng: <%= @flat.longitude %>};

      var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        scrollwheel: false,
        zoom: 13
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        draggable: true,
        animation: google.maps.Animation.DROP,
        title: 'Hello World!',
      });

      var infowindow = new google.maps.InfoWindow({
        content: '<div><p><%= @flat.address %></p><img src="<%= @flat.picture_url %>" alt="Flat" height="200"></div>'
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  <% end %>
<% end %>
